
* {
    margin: 0;
    padding: 0;
    font-family: "SimHei";
    user-select: none;
}

body {
    background-color: rgb(40, 40, 40);
    width: 100%;
    color: white;
}

.bar {
    height: 30px;
    background-color: rgb(83, 83, 83);
    padding: 10px 0px 10px 0px;
    width: inherit;
}

.bar div {
    float: left;
    height: 30px;
    min-width: 40px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.bar div div {
    float: inherit;
}

#btn {
    float: left;
    height: 30px;
    min-width: 40px;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: rgb(71, 71, 71);
}

div#footer_bar {
    position: absolute;
    bottom: 300px;
}

.bar .btn {
    padding: 0px 20px 0 20px;
    cursor: pointer;
}

.bar .btn:hover {
    background-color: rgb(71, 71, 71);
}

#graph-panel {
    margin: 0 auto;
    width: inherit;
    height: 673px;
    background-color: #f2f2f2;
}

#login {
    float: right;
}

