* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    user-select: none;
    /*    防止文字被选中，*/
}

body {
    width: 100%;
    height: 100%;
    background-color: #282828;
    /*  背景色取自ps默认背景*/
}

.box_main {
    margin: 60px auto;
    background-color: #f2f2f2;
    width: 960px;
    height: 540px;
}


.box_main_top {
    width: inherit;
    height: 490px;
}


.box_main_top .box_main_top_left, .box_main_top_right {
    float: left;
    height: inherit;
    width: 480px;
}

.box_main_bottom {
    width: inherit;
    height: 50px;
    border-top: 2px;
    border-top-color: #00306e;
    border-top-style: solid;
}

.box_main_top_left img {
    max-width: 420px;
    height: auto;
    margin: 86px 30px;
}

.p4info {
    font-size: 19px;
    color: black;
    margin: 12px auto 12px 10px;
}

.m-btn {
    /*    中号的按钮设计*/
    float: left;
    height: 50px;
    width: 122px;
    background-color: #140010;
    color: #f2f2f2;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
}


.m-input {
    /*   中号输入框设计*/
    width: 370px;
    height: 40px;
    font-size: 22px;
    padding-left: 15px;
}

/*文字超链接*/
.spa {
    cursor: pointer;
}

.spa:hover {
    text-decoration: underline;
}


.line-block {
    display: inline-block;
}