/*{#全局使用绝对定位完成}*/
/*{#用box1包裹元素，并使用据对定位完成#}*/
.box1 {
    position: absolute;
    background-color: #f2f2f2;
    width: 960px;
    height: 540px;
}


/*{#box2包含左#}*/
.box2 {
    position: absolute;
    top: 92px;
    bottom: 122px;
    height: auto;
    width: 100%;
    /*{#background-color: #00306e;#}*/
}

.part-left {
    position: absolute;
    width: 50%;
    height: 100%;

}

.part-left img {
    width: 95%;
    height: auto;
}

.part-right {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;

}


.p1 {
    position: absolute;
    display: block;
    top: 29px;
    left: 53px;
    font-size: 27px;
    color: #00306e;
    font-family: "SimHei";
    white-space: normal;
    text-align: center;
}

.p2 {
    position: absolute;
    display: block;
    top: 120px;
    left: 5%;
    width: 90%;
    font-family: "SimHei";
    line-height: 28px;
    font-size: 20px;
    font-weight: 100;
    color: #140010;
}

.p3 {

    display: block;
    position: absolute;
    left: 25%;
    width: 165px;
    height: 60px;
    background-color: black;
    bottom: 1px;
    text-align: center;
}

.p3 a {
    color: white;
    font-size: 27px;
    line-height: 60px;
    text-decoration: none;
    /*{#    删除下划线#}*/
}


