#register, #a_acc {
    margin-top: 76px;
    margin-left: 55px;
    margin-right: 55px;
}

#register p, #a_acc p {
    font-size: 19px;
}

#register input, #a_acc input {
    margin-top: 9px;
    margin-bottom: 16px;
}


#submit-btn {
    margin-top: 18px;
    margin-left: 129px;
}


#submit_code {
    margin-top: 68px;
    margin-left: 129px;
}

.ll-login {
    width: 100%;
    margin-top: 22px;
    padding-left: 240px;
    display: inline-block;
}

#code {
    float: left;
    width: 248px;
}

#get-code {
    height: 40px;
    width: 104px;
    margin-top: 9px;
    margin-left: 18px;
    line-height: 40px;
    font-size: 17px;
}
