<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用：{{ project_name }}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/application.css') }}">
    <script type=text/javascript
            src="{{ url_for('static', filename='js/jquery_2.0.0.js') }}"></script>
    <script type=text/javascript
            src="{{ url_for('static', filename='js/graph-vis.min.js') }}"></script>
</head>
<body>
<div id="head_bar" class="bar">
    <div class="mbox"> 上传文件:</div>
    <form id="btn" enctype=multipart/form-data>
        <input type='file' name='file'
               accept="text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
    </form>

    <div id="upload" class="btn" title="向服务器提交你选择的文件，注意这将会覆盖你当前画布上的数据">提交</div>
    <div class="btn" id="drawing" title="重新绘制关系网">绘制</div>

    <div class="mbox" id="login" title="点击则会退出登录，返回到登录页面">登录状态：
        <div id="login_out" class="btn">已经登录</div>
    </div>

</div>
<div id="graph-panel">
</div>

<div id="footer_bar" class="bar">
    <div class="btn">节点</div>
    <div class="btn">连线</div>
</div>
</body>


<script type=text/javascript
        src="{{ url_for('static', filename='js/application.js') }}"></script>

