

{% extends "index.html" %}

{% block content %}
    <style>


        /*login 登录框按钮等等*/
        #login {
            margin-left: 55px;
            margin-right: 55px;
        }

        #login p {
            font-size: 19px;
        }

        #login input {
            width: 370px;
            height: 40px;
            font-size: 22px;
        }
    </style>
    <div id="login">
        <p id="id">邮箱</p>
        <input type="text">
        <p id="password">密码</p>
        <input type="password">
        <div>注册</div>
        <div>登录</div>
    </div>
{% endblock %}