{% extends "index.html" %}
{% block style_css %}

    <script type=text/javascript src="{{ url_for('static', filename='js/login.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
    <div id="recover">
        {#        <p>邮箱</p>#}
        {#        <input id="id" type="text">#}
        {#        <p>密码</p>#}
        {#        <input id="password" type="password">#}
        {#        <div id="register-btn">注册</div>#}
        {#        <div id="login-btn">登录></div>#}
        {#        <div id="zhmm">忘记密码啦？<span id="zhmm-btn">找回密码</span>#}
        {#        </div>#}
        找回密码
    </div>
{% endblock %}