{% extends "home.html" %}
{% block style_css %}
    <script type=text/javascript src="{{ url_for('static', filename='js/register.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">

{% endblock %}
{% block content %}
    <div class="box_main_top_right" id="register" style="display: block">
        <p class="textle">邮箱 <span id="ema"></span></p>
        <input id="email" class="m-input" type="text">
        <p>密码 <span id="pas"></span></p>
        <input id="password" class="m-input" type="password">
        <p>重复密码 <span id="re_pas"></span></p>
        <input id="re_password" class="m-input" type="password">
        <div id="submit-btn" class="m-btn">提交</div>
        <div class="ll-login">
            已有账号？<span class="spa login_link">登录</span>
        </div>
    </div>
    <div class="box_main_top_right" id="a_acc" style="display: none">
        <p id="block_email">邮箱</p>
        <input id="id" class="m-input" type="text">
        <p>验证码</p>
        <div class="line-block">
            <input id="code" class="m-input" type="text">
            <div id="get-code" class="m-btn">发送</div>
        </div>
        <p id="di_log">请获取验证码</p>
        <div id="submit_code" class="m-btn">确认</div>
        <div class="ll-login">
            已有账号？<span class="spa login_link">登录</span>
        </div>
    </div>
{% endblock %}