<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ project_name }}</title>
    <script type=text/javascript src="{{ url_for('static', filename='common/jquery.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    {% block style_css %}
        {#不同的页面加载不同的css样式文件#}
        {#参考，jinja2模板：http://www.ainoob.cn/docs/jinja2/templates.html#id11#}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dis_info.css') }}">
    {% endblock %}
</head>
<body>
<div class="box_main">
    <div class="box_main_top">
        <div class="box_main_top_left">
            <a href="/static">
                <img src="../../static/img/1501077931-network.png" alt="视图">
            </a>
        </div>
        <div class="box_main_top_right">
            {% block content %}
                {#基础模板默认的展示#}
                <div id="dis_info">
                    <div class="p1">欢迎使用:{{ project_name }}</div>
                    <div class="p2">项目简介：{{ project_profile }}</div>
                    <div class="p3"><a href="/app">立即开始></a></div>
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="box_main_bottom">
        <p class="p4info">注意：此系统需要您的电脑屏幕分辨率不低于1920*1080</p>
    </div>
</div>
</body>
</html>