{% extends "user/home.html" %}

{% block userscss %}
    <style>
        #register, #a_acc {
            margin-top: 42px;
            margin-left: 55px;
            margin-right: 55px;
        }

        #register p, #a_acc p {
            font-size: 19px;
        }


        .box_main_top .box_main_top_left, .box_main_top_right {
            float: left;
            height: inherit;
            width: 429px;
        }

        #submit-btn {
            margin-top: 18px;
            margin-left: 129px;
        }


        #submit_code {
            margin-top: 68px;
            margin-left: 129px;
        }

        .ll-login {
            width: 100%;
            margin-top: 22px;
            padding-left: 240px;
            display: inline-block;
        }

        #code {
            float: left;
            width: 248px;
        }

    </style>
{% endblock %}




{% block content %}
    <div class="box_main_top_right" id="register" style="display: block">


        <h1>注册</h1> &nbsp;

        <form action="">
            <label for="email">注册邮箱</label>
            <input type="text" id="email" class="form-control" aria-describedby="passwordHelpBlock">
            <small id="ema" class="form-text text-muted">
            </small>

            <label for="password">密码</label>
            <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock">
            <small id="pas" class="form-text text-muted">
            </small>
            <label for="re_password">重复密码</label>
            <input type="password" id="re_password" class="form-control" aria-describedby="passwordHelpBlock">
            <small id="re_pas" class="form-text text-muted">
            </small>
        </form>

        {##}
        {#        <div class="input-group  mb-3">#}
        {#            <div class="input-group-prepend">#}
        {#                <span class="input-group-text">邮箱</span>#}
        {#            </div>#}
        {#            <input id="email" type="text" class="form-control" aria-label="Small"#}
        {#                   aria-describedby="inputGroup-sizing-sm">#}
        {##}
        {#            <small id="ema" class="form-text text-muted">#}
        {#            </small>#}
        {#        </div>#}


        <div id="submit-btn" class="m-btn">提交</div>
        <div class="ll-login">
            已有账号？<span class="spa login_link">登录</span>
        </div>


    </div>



    <div class="box_main_top_right" id="a_acc" style="display: none">

        <h1>注册</h1> &nbsp;
        <div class="input-group  mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">邮箱</span>
            </div>
            <input id="id" type="text" class="form-control" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group  mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">验证码</span>
            </div>
            <input id="code" class="form-control" type="text" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">

            <div class="input-group-prepend" id="#get_code">
                <button id="get-code" class="btn btn-secondary">获取</button>
            </div>


        </div>

        <div id="submit_code" class="m-btn">确认</div>
        <div class="ll-login">
            已有账号？<span class="spa login_link">登录</span>
        </div>
    </div>



{% endblock %}


{% block jsscr %}
    <script type=text/javascript src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
