{% extends "user/home.html" %}
{% block style_css %}
    <script type=text/javascript src="{{ url_for('static', filename='js/rpass.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rpass.css') }}">
{% endblock %}
{% block content %}
    <div class="box_main_top_right" id="recover_password" style="display: block">
        <p>邮箱 <span id="mail_text"></span></p>
        <input id="email" class="m-input" type="text">
        <p>验证码 <span id="code_text"></span></p>
        <div class="line-block">
            <input id="code" class="m-input" type="text">
            <div id="get_code" class="m-btn">发送</div>
        </div>
        <p>新密码 <span id="password_text"></span></p>
        <input id="password" class="m-input" type="password">
        <div id="submit-btn" class="m-btn">提交</div>
    </div>
{% endblock %}